html {
    font-size: 14px;
}
body{
    padding: 70px 15px 0px 15px;
}

.font-large{
    font-size: x-large !important;
    font-weight: 600 !important;
}

/* #search{
    width: 450px !important;
} */

.h1 {
    text-align: center;
    margin-top: 50px;
}
  
p {
    margin-bottom:60px;
}

#options span{
    vertical-align: top;
    display: inline-block;
}
  
/* h4{
    text-align:center; 
    line-height:80px;
    font-weight:normal; 
} */

#search {
    width: 450px !important;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.card-columns{
    column-gap: 12px !important;
}
.indv-post {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    /* background-color: black; */
}
.card-img-top {
    
}
.post-image {
    width: 100%;
    max-height: 30vw !important;
    object-fit: cover;
    /* object-fit: cover; */
    /* max-height: 100%;
    max-width: 100%; */
    /* max-height:400px; */

}

@media (max-width: 320px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count:1;
        column-count: 1 !important;
    };
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count:2;
        column-count: 1 !important;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count:3;
        column-count: 3 !important;
    }
}

@media (min-width: 1024px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count:4;
        column-count: 5 !important;
    }
}
/* 
#options{
    position: fixed;
    top: 70px;
} */

/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
}  */
/*   
  .masonry { 
      -webkit-column-count: 4;
    -moz-column-count:4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
     margin: 1.5em;
      padding: 0;
      -moz-column-gap: 1.5em;
      -webkit-column-gap: 1.5em;
      column-gap: 1.5em;
      font-size: .85em;
  }
  .item {
      display: inline-block;
      background: #fff;
      padding: 1em;
      margin: 0 0 1.5em;
      width: 100%;
      -webkit-transition:1s ease all;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-shadow: 2px 2px 4px 0 #ccc;
  }
  .item img{max-width:100%;}
  
  @media only screen and (max-width: 320px) {
      .masonry {
          -moz-column-count: 1;
          -webkit-column-count: 1;
          column-count: 1;
      }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 768px){
      .masonry {
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2;
      }
  }
  @media only screen and (min-width: 769px) and (max-width: 1200px){
      .masonry {
          -moz-column-count: 3;
          -webkit-column-count: 3;
          column-count: 3;
      }
  }
  @media only screen and (min-width: 1201px) {
      .masonry {
          -moz-column-count: 4;
          -webkit-column-count: 4;
          column-count: 4;
      }
  } */