html {
    font-size: 14px;
}
body{
    padding: 70px 15px 0px 15px;
}

.font-large{
    font-size: x-large !important;
    font-weight: 600 !important;
}

/* #search{
    width: 450px !important;
} */

.h1 {
    text-align: center;
    margin-top: 50px;
}
  
p {
    margin-bottom:60px;
}

#options span{
    vertical-align: top;
    display: inline-block;
}
  
/* h4{
    text-align:center; 
    line-height:80px;
    font-weight:normal; 
} */

#search {
    width: 450px !important;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration:none;
}

.card-columns{
    column-gap: 12px !important;
}
.indv-post {
    margin: 0 auto; /* for some reason this works*/
}
.card-img-top {
    
}
.post-image {
    width: 100%;
    max-height: 30vw !important;
    object-fit: cover;
    /* object-fit: cover; */
    /* max-height: 100%;
    max-width: 100%; */
    /* max-height:400px; */

}

.grid {
    counter-reset: grid-item;
  }
  
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- grid-item ---- */
  
  .grid-item {
    width: 160px;
    /* height: 320px; */
    float: left;
    margin: 4px;
    /* padding: 5px; */
    /* background: #D26; */
    /* border: 2px solid #333; */
    /* border-color: hsla(0, 0%, 0%, 0.5); */
    /* border-radius: 5px; */
  }

  
  .grid-item:before {
    counter-increment: grid-item;
    content: '';
    /* display: block;
    color: white;
    padding-top: 0.2em;
    text-align: center;
    font-size: 1.4rem; */
  }

@media (max-width: 320px) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count:1;
        column-count: 1 !important;
    };
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count:2;
        column-count: 1 !important;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count:3;
        column-count: 3 !important;
    }
}

@media (min-width: 1024px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count:4;
        column-count: 5 !important;
    }
}
/* 
#options{
    position: fixed;
    top: 70px;
} */

