.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    /* background-color: black; */
}

.indv-post{
    top: 10px;
    bottom: 15px;
     
    /* display: inline-block; */
    overflow: hidden;
    padding: 10px;
    width: 60%; 
    overflow: hidden;
    float: none;
    padding: 10px;
    margin-bottom: 0px !important;
}

img{
    max-width:450px;
    max-height:450px;
}

#title {
    margin-bottom: 0px;
}

.desc{
    word-wrap: normal;
}

.right {
    /* overflow: hidden; */
    position: relative; 
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.left{
    float: left
}

.edit-delete {
    position: absolute;
    right: 0px;
}

.rating {
    margin-bottom: 0px;
    margin-top: 10px;
}

.right .price {
    margin-left: 2px;
    margin-right: 4px;
}

#review {
    margin-top: 10px;
}

.time{
    /* position: absolute;
    bottom: 0px; */
    margin-top: auto;
}

span{
    display: inline-block;
}

#like {
    padding: 4px 10px;
    color: #5d5d5d;

}

#like:hover{
    background-color: #e9e9e9;
    cursor: pointer;
}

.form-inline label {
    margin-right: 8px;
}

#stars {

}

.select-tag{
    /* width: 100%; */
    display: inline-block;
}

#edit-post-form label:not(.radio-inline){
    width:68px;
    justify-content: flex-start;
}

.hide{
    display:none;
}

.rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
  .rating-stars ul > li.star {
    display:inline-block;
    
  }

  .rating-stars ul > li.star > i.fa {
    font-size:1.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }

  .rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
  }

  .rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
  }

  .select2-selection {
      width: 350px !important;
  }

  .select2-dropdown {
      width: 350px !important;
  }

  .buttons {
      padding-top: 12px;
      padding-bottom: 12px;
  }

/* .container {
    width: 120px;
  }

.container img{
    max-height: 100%;
    max-width: 100%;
} */