.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    /* background-color: black; */
}

.indv-post{
    top: 10px;
    bottom: 15px;
    width: 60%;  
    /* display: inline-block; */
    overflow: hidden;
    padding: 10px;
}

img{
    max-width:450px;
    max-height:450px;
}

#title {
    margin-bottom: 0px;
}

.desc{
    word-wrap: normal;
}

.right {
    /* overflow: hidden; */
    position: relative; 
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.left{
    float: left
}

.edit-delete {
    position: absolute;
    right: 0px;
}

.rating {
    margin-bottom: 0px;
    margin-top: 10px;
}

.right .price {
    margin-left: 2px;
    margin-right: 4px;
}

#review {
    margin-top: 10px;
}

.time{
    /* position: absolute;
    bottom: 0px; */
    margin-top: auto;
}

span{
    display: inline-block;
}

.form-inline label {
    margin-right: 4px;
}


/* .container {
    width: 120px;
  }

.container img{
    max-height: 100%;
    max-width: 100%;
} */