{% extends "nav.html" %}

<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name=author content="Sandra Xu">  
        <title>Home • Feed</title>
        <link rel="stylesheet" type="text/css"
              href="{{url_for('static', filename='home.css')}}">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/bricklayer/0.4.2/bricklayer.min.js"></script>
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/cc5f13310d.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <body>

        {% block options %}
            {% if options is sameas true %}
            <div id="options">
                <span>
                    <!-- <form id="sort-by-form" method=GET action="/home/"> -->
                        <label>Sort by</label>
                        <select name="sort-by" id="sort-by">
                            <option value="recent">Most Recent</option>
                            <option value="rating">Rating</option>
                            <option value="price">Price</option>
                        </select>
                    <!-- </form> -->
                </span>
                <span>
                    <form id="tag-form">
                        <label>Category</label>
                        <select name="tag" id="tag" onchange="this.form.submit()">
                            <option selected disabled>Choose</option>
                            <option>Tag 1</option>
                            <option>Tag 2</option>
                        </select>
                    </form>
                </span>
                <!-- <span id="filter-tag"></span> -->
            </div>
            {% endif %}
        {% endblock %}
        
        <!-- WHY are flashes showing up before options -->
        {% block flash %}
            {{super()}}
        {%endblock %}

        {% block content %}
            <div id="posts" class="masonry card-columns">
            {% for post in posts %}
            <a href="{{url_for('post', pid=post.pid)}}" class = "custom-card"> 
                <div class="item card">
                    <!-- image -->

                    <!-- <div class="card-image-top img-fluid post-image"> -->
                    <img class="card-image-top img-fluid rounded-top post-image" 
                        src="{{url_for('static',filename=post['imgPath'])}}">
                    <!-- </div> -->
                 
                    <div class="card-body">
                        <h5 class="card-title">{{post['pname']}}</h5>
                        <!-- rating -->
                        <p class="card-text rating" data-rating="{{post['rating']}}"></p>
                        <p class="card-text">{{post['review'] | truncate(150)}}</p>
                    </div>
                </div>
            </a>

            {% endfor %}
            </div>

            <div id="users" class="masonry card-columns">
            {% for user in users %}
            <a href="{{url_for('profile', username=user.username)}}" class = "custom-card"> 
                <div class="item card">
                 {# ... 
                    <!-- <img src="{{post['imgPath']}}"> -->
                    <!-- <img class="card-image-top img-fluid" src="{{url_for('static',filename=post['imgPath'])}}">
                     -->#}
                    <div class="card-body">
                        <h5 class="card-title">{{user['username']}}</h5>
                        {#
                        <!-- rating -->
                        <!-- <p class="card-text rating" data-rating="{{post['rating']}}"></p>
                        <p class="card-text">{{post['review'] | truncate(150)}}</p> -->#}
                    </div>
                </div>
            </a>
            {% endfor %}
            </div>

        {% endblock %}

        {% block scripts %}
           {{super()}}
            <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
            <script src="{{url_for('static',filename='home.js')}}"></script>
        {% endblock %}   
    
</body>
</html>


