{% extends "nav.html" %}

<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name=author content="Sandra Xu">  
        <title>Home • Feed</title>
        <link rel="stylesheet" type="text/css"
              href="/static/home.css">
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/cc5f13310d.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <body>
        {% block nav %} 
            {{super()}}

        {% endblock %}

        {% block options %}

            <div id="options">
                <span id="sort-by">
                    <form>
                        <label>Sort by</label>
                        <select name="sort-by">
                            <option>Most Recent</option>
                            <option>Rating</option>
                            <option>Price</option>
                        </select>
                    </form>
                </span>
                <span id="tag">
                    <label>Category</label>
                    <select name="tag">
                        <option selected disabled>Choose</option>
                        <option>Tag 1</option>
                        <option>Tag 2</option>
                    </select>
                </span>
            

                <!-- <span id="filter-tag"></span> -->

            </div>


        {% endblock %}

        {% block flash %}
            {{super()}}

        {%endblock %}


        {% block content %}
            <div id="posts" class="masonry card-columns">
            {% for post in posts %}
            <a href="/post/{{post['pid']}}" class = "custom-card"> 
                <div class="item card">
                    <!-- <img src="{{post['imgPath']}}"> -->

                    <!-- <div class="card-image-top img-fluid post-image"> -->
                    <img class="card-image-top img-fluid post-image rounded-top" src="{{url_for('static',filename=post['imgPath'])}}">
                    <!-- </div> -->
                    
                    <div class="card-body">
                        <h5 class="card-title">{{post['pname']}}</h5>
                        <!-- rating -->
                        <p class="card-text rating" data-rating="{{post['rating']}}"></p>
                        <p class="card-text">{{post['review'] | truncate(150)}}</p>
                    </div>
                </div>
            </a>

            {% endfor %}
            </div>

            <div id="users" class="masonry card-columns">
            {% for user in users %}
            <a href="/profile/{{user['username']}}" class = "custom-card"> 
                <div class="item card">
                 {# ... 
                    <!-- <img src="{{post['imgPath']}}"> -->
                    <!-- <img class="card-image-top img-fluid" src="{{url_for('static',filename=post['imgPath'])}}">
                     -->#}
                    <div class="card-body">
                        <h5 class="card-title">{{user['username']}}</h5>
                        {#
                        <!-- rating -->
                        <!-- <p class="card-text rating" data-rating="{{post['rating']}}"></p>
                        <p class="card-text">{{post['review'] | truncate(150)}}</p> -->#}
                    </div>
                </div>
            </a>
            {% endfor %}
            </div>
           
            <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    
        <script src="{{url_for('static',filename='home.js')}}"></script>

        {% endblock %}

    
    
</body>


</html>


