{% extends "signup.html" %}

{% block main_content %}



<center>
    <div class="login-page">
      <div class="form">
        <!-- Register form-->
        <form action="{{url_for('signUp')}}" method="post" class="register-form">
           <p> Welcome to Feed! <br> See what you eat, eat what you see.</p> 
          <input type="text" name="username" required pattern="^\w+$" placeholder="Username"/>
          <input placeholder="password" placeholder="Password" type="password" name="password1" required/
          <input placeholder="Password again" type="password" name="password2" required/>
          <button type="submit">Create</button>
          <p class="message">Already registered? <a href="{{url_for('login')}}">Sign In</a></p>
        </form> 
        <!-- Login Form -->
        <form action="{{url_for('login')}}" method="post" class="login-form">
            <p> Welcome back to Feed! <br>  See what you eat, eat what you see.</p> 
          <input  type="text" name="username" required pattern="^\w+$" placeholder="Username"/>
          <input type="password" name="password" required placeholder="Password"/>
          <button type="submit">Login</button>
          <p class="message">Not registered? <a href="{{url_for('signUp')}}">Create an account</a></p>
        </form>
      </div>
    </div>
  </center>


{% endblock %}