<!doctype html>
<html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name=author content="Sandra Xu and Rachel Navarrette">  
        <title>Home</title>
        <link rel="stylesheet" type="text/css"
              href="/static/home.css">
        <link rel='stylesheet' href="{{url_for('static', filename = 'profile.css')}}"> 
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/cc5f13310d.js" crossorigin="anonymous"></script>
        {% endblock%}
    </head>

    <body>
    
    {% block nav %} 
        <!-- make navbar look nicer later -->
        <nav class="navbar fixed-top navbar-light bg-light justify-content-between">
            <!-- do fix at top -->
            <a class="navbar-brand nav-link font-large" href="/home/">Feed</a>
            <div class="flex-grow-1 d-flex">
                <form method=GET action="/search/" class="form-inline flex-nowrap bg-light mx-0 mx-lg-auto rounded p-1">
                    <div class="input-group">
                        <input type="search" name="query" id="search" class="form-control border border-right-0" placeholder="Search...">
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary border border-left-0" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                          </span>
                    </div>
                    <select name="type" id="type">
                        <option value="posts" selected>Posts</option>
                        <option value="users">Users</option>

                    </select>

                
                </form>
            </div>

            <!-- collapse button here -->
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button> -->

            <a class="navbar" href="/upload/"><i class="far fa-plus-square icon fa-2x"></i></a>

            <!-- Added by Rachel, trying to get a drop down menu on the profil button that will allowing logging out and going to the profile page, it's not working right now and I think it ruined signing in/signing up. It was working before I decided to added drop down feature.....-->
            
            <a class="navbar" href="/profile/"><i class="far fa-user-circle fa-2x"></i></a>
             
        </nav>

    {% endblock %}

    {% block content %}

    {% endblock %}

    <!-- <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script> -->
    
    <script src="{{url_for('static',filename='home.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>


</html>