{% extends "nav.html" %}
<!doctype html>
<html>
    <head>
        {% block head%}
        <meta charset="utf-8">
        <meta name=author content="Sandra Xu">  
        <title>{{post.pname}}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='post.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
    </head>

    <body>
    {% block nav %}
        {{ super() }}
    {% endblock %}
  
    {% block content %}
      <div class="indv-post rounded border border-light">
          <div class="left">
            <img id="post-image" class="rounded" src="{{url_for('static',filename=post['imgPath'])}}" alt="post image">
          </div>
           <div id="flex-right" class="right">
              
              <!-- <div class="top-container"> -->
            {% if posted is sameas true %}
            
              <div class="edit-delete">
                <span id="edit_"> 
                  <!-- tooltips are f-ed up fix later -->
                  <!-- <a id="edit" href="#" data-toggle="tooltip" data-placement="bottom" title="Edit"> -->
                  <button type="button" class="btn btn-light" data-toggle="modal" data-target="#edit-modal">
                    <i class="far fa-lg fa-edit"></i>  
                  </button>       
                </span>
                <span>
                  <!-- <button id="delete" href="#" data-target="#exampleModal" data-toggle="tooltip modal" data-placement="bottom" title="Delete">
                    <i class="far fa-lg fa-trash-alt"></i>
                  </button> -->
                  <button type="button" class="btn btn-light" data-toggle="modal" data-target="#delete-modal">
                    <i class="far fa-lg fa-trash-alt"></i>
                  </button>
                </span>
              </div>
            {% endif %}
            <!-- <table id="right-container">
              <tr id="top">
                <td valign="top"> -->
            <h4 id="title" class="card-title">{{post.pname}}</h4>
            <p><a href="/profile/{{post['username']}}">{{post.username}}</a></p>
            <div class="restaurant">
              <span><i class="fas fa-utensils"></i></span>
              <span>{{post.restaurant}}</span>
            
            </div>
            <div class="location">
              <span><i class="fas fa-map-marker-alt"></i></span>
              <span>{{post.location}}</span>
            </div>
            <p class="rating" data-rating="{{post.rating}}"></p>
            <div>
            <span class="price" data-price="{{post['price']}}"></span> 
            
            {% for tag in tags %}
              <span>
                <a href="#"> {{tag.ttype}} </a>
              </span>
            {% endfor %}
            </div>
            <p id="review" class="card-text">{{post.review}}</p>
            <!-- </div> -->
          <!-- </td>
           </tr> -->
           <!-- <tr> -->
             <!-- <td id="bottom" valign="bottom"> -->
            <div class="time"><small class="text-muted">{{post.time}}</small></p>
          <!-- </td>
          </tr>
          </table> -->
          </div>
          
        </div>
      </div>
      <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <div class="modal-body">
              Are you sure you want to delete?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <!-- <button type="button" class="btn btn-primary">Delete</button> -->
              <form action="/delete_post/{{pid}}" method="post">
                  <button type="button submit" class="btn btn-primary" name="upvote" value="Upvote">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
              <div class="modal-body">
               
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <!-- <button type="button" class="btn btn-primary">Delete</button> -->
                <form action="/edit_post/{{pid}}" method="post">
                    <button type="button submit" class="btn btn-primary" name="upvote" value="Upvote">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      
    <!-- </div> -->
    {% endblock %}
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="{{url_for('static',filename='home.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/cc5f13310d.js" crossorigin="anonymous"></script>
    <script>
      var imgHeight = $("#post-image").height();
      console.log(imgHeight);
      $("#flex-right").height(imgHeight);

      $("#delete").on("click", function() {
        console.log("delete");
      });

      $('#exampleModalCenter').modal(options);
    </script>
    {% endblock %}

</body>
</html>

    