{% extends "nav.html" %}
<!doctype html>
<html>
    <head>
        {% block head%}
        <meta charset="utf-8">
        <meta name=author content="Sandra Xu">  
        <title>{{post.pname}}</title>
        <link rel="stylesheet" type="text/css"
              href="{{url_for('static', filename='post.css')}}">
        <link rel="stylesheet" type="text/css"
              href="{{url_for('static', filename='home.css')}}">
        <link rel="stylesheet" 
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/cc5f13310d.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <body>
    {% block nav %}
        {{ super() }}
    {% endblock %}
  
    {% block content %}
      <div class="indv-post rounded border border-light">
          <div class="left">
            <img class="rounded" src="{{url_for('static',filename=post['imgPath'])}}" alt="">
          </div>
          <div class="right">
              {% if posted is sameas true %}
              <div class="edit-delete">
                <span id="edit">
                  <a href="#"><i class="far fa-lg fa-edit"></i></a>
                </span>
                <span>
                  <a href="#"><i class="far fa-lg fa-trash-alt"></i></a>
                </span>
              </div>
            {% endif %}
            <h4 id="title" class="card-title">{{post.pname}}</h4>
            
            <a href="/profile/{{post['username']}}">{{post.username}}</a>
            <p class="rating" data-rating="{{post['rating']}}"></p>
            <span class="price" data-price="{{post['price']}}"></span>
            {% for tag in tags %}
              <span>
                <a href="#"> {{tag.ttype}} </a>
              </span>
            {% endfor %}
            <p id="review" class="card-text">{{post.review}}</p>
          </div>
      </div>
        </div>
    <!-- </div> -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="{{url_for('static',filename='home.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% endblock %}

</body>


</html>

    