{% extends "home.html" %}

<!doctype html>
<html lang='en'>
<head>
	{% block head %}
    <meta charset='utf-8'>
	<meta name=author content="Rachel Navarrette">
	<link rel="stylesheet" type="text/css"
            href="{{url_for('static', filename='home.css')}}">
	<link rel='stylesheet' href="{{url_for('static', filename = 'profile.css')}}">
	<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"><title>{{proName}}</title>
	
	{% endblock %}
	
    </head>

<header>
	{% block nav %} 
            {{super()}}

		{% endblock %}
		{% block content %}

	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img src="{{url_for('static', filename = ppic)}}"    alt="profile_pic">

			</div>
			<!-- Edit profile form -->
			<div class="profile-user-settings">

				<h1 class="profile-user-name" value="{{profName}}">{{profName}}</h1> 

				<button class="btn profile-edit-btn" onclick="editProfile()">Edit Profile</button>

				<div class="form-popup" id="editForm">
  				<form method=POST action="{{url_for('editProf')}}" class="form-container" enctype=multipart/form-data>
    			<h1>Edit Profile</h1>

    			<label for="full_name"><b>Name</b></label>
    			<input type="text" placeholder="Name" name="fName" required>
				
    			<label for="bio_text"><b>Edit Bio</b></label>
   			    <input type="text" placeholder="Bio: " name="bioText" required>
				
				
					<label for="profile_pic"><b>Upload Profile Picture</b></label>
					<input type="file" placeholder="Upload File" name="pic" required>
				
				
    			<button type="submit" class="btn">Save Changes</button>
    			<!-- <button type="button" class="btn cancel" onclick="closeFor()">Close</button> --> 
  				</form>
				</div>

			</div>
			<!-- End Edit Profile -->

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count" id="posts">{{postNum}}</span> posts</li>
					<li><span class="profile-stat-count" id="followers">{{numFing}}</span> followers</li>
					<li><span class="profile-stat-count" id="following">{{numFers}}</span> following</li>
				</ul>

			</div>

			<div class="profile-bio">
				
				<p><span class="profile-real-name">{{fname}}</span> {{bio}}</p>

			</div> 

			{% if match is sameas false%}
				{% if fboolean is sameas False%}
						<div>
							<button id="follow-button">Follow</button>
						</div>
				{% else %}
					<div>
						<button id="following-button">Following</button>
					</div>
				{% endif %}

			{% endif %}

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>
		{{super()}}

		<!-- End of gallery -->

		<!-- <div class="loader"></div> -->

	<!-- End of container -->


</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
	function editProfile() {
	  document.getElementById("editForm").style.display = "block";
	}
	
	//function closeForm() {
	 // document.getElementById("editForm").style.display = "none";
	//}


	//var follow_on = false;
	
	var info = $(this).closest("h1");
	var username = info.find('.profile-user-name').text();
	
	var URL_add = "{{url_for('aFollow', username=profName)}}"
    var URL_delete = "{{url_for('dFollow', username = profName)}}"

	
	var follow_on = false

	$("#follow-button").on('click', function () {
		
        
        // turn it on
        $("#follow-button").text('Following');
        $.post(URL_add, updateAddFollowers)    
		//$(this).closest('profile-stat-count').find("#followers").text(newFollowerCount.followers);
        
    });

	function updateAddFollowers(obj) {
        console.log(obj);

        if(obj.error) {
            $("#errors").empty().html('Error: '+obj.err);
            console.log('obj error')
        } else {
            $("#followers").text(obj.followers);
			$("#following").text(obj.following);

        }
    }

	function updateDeleteFollowers(obj) {
        console.log(obj);

        if(obj.error) {
            $("#errors").empty().html('Error: '+obj.err);
            console.log('obj error')
        } else {
            $(this).closest('profile-stat-count').find("#followers").text(obj.followers);
			$(this).closest('profile-stat-count').find("#following").text(obj.following);

        }
    }


	$("#following-button").on('click', function () {
		
        
         // unfollow
        $("#follow-button").text('Follow');
        var newFollowerCount = $.post(URL_delete, {'followers': followers, 'following': following}, updateDeleteFollowers)  
       
    });



	</script>

<!-- <script src="{{url_for('static',filename='home.js')}}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="{{url_for('static',filename='home.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/cc5f13310d.js" crossorigin="anonymous"></script>
	 {% endblock %}


    </html>