{% extends "base.html" %}

{% block main_content %}
<br>
<center>
  <div class="login-page">
    <div class="form">
      <!-- Register form-->
      <form class="login-form" action="{{url_for('signUp')}}" method="post">
        <p> Welcome to Feed! <br> See what you eat, eat what you see.</p> 
        <input placeholder="Name" type="text" name="fName" required/>
        <input placeholder="Email" type="email" name="email" required/>
        <input type="text" name="username" required pattern="^[a-zA-Z][a-zA-Z0-9-_.]{1,20}" placeholder="Username"/>
        <input placeholder="password" placeholder="Password" type="password" name="password1" required/>
        <input placeholder="Password again" type="password" name="password2" required/>
        <button type="submit">Create</button>
        <p class="message">Already registered? <a href="{{url_for('login')}}">Sign In</a></p>
      </form>
      <!-- Login Form -->
     <form class="register-form" action="{{url_for('login')}}" method="post">
        <p> Welcome to Feed! <br> See what you eat, eat what you see.</p> 
        <input  type="text" name="username" required pattern="^\w+$" placeholder="Username"/>
        <input type="password" name="password" required placeholder="Password"/>
        <button type="submit">Login</button>
        <p class="message">Not registered? <a href="{{url_for('signUp')}}">Create an account</a></p>
      </form> 
    </div>
  </div>
</center>
{% block jquery_scripts %}
<script>
$("#signupForm").on('submit', function (event) {
     var pw1 = $(this).find('[name=password1]').val();
     var pw2 = $(this).find('[name=password2]').val();
     // should also check for length and common words etc
     if( pw1 != pw2 ) {
         // something more sophisticated than alert would be nice
         alert("passwords don't match");
     }
});
</script>
{% endblock %}
{% endblock %}




